@model IEnumerable<dentalApp02.Models.TareaHistorial>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedByUserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarea)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedByUserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tarea.TareaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HistorialId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HistorialId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HistorialId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
